* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #4062bb;
    background-image: linear-gradient(316deg, #4062bb 0%, #5200ae 74%);
    overflow: hidden;
}

.content {
    display: flex;
    padding: 20px;
    height: 100vh;
}

h1 {
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    height: fit-content;
    width: fit-content;
}

h1::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 25%;
    background-color: red;
    left: 0;
    bottom: 0;
    z-index: -1;
    animation: title 3s infinite alternate;

}

@keyframes title {
    0% {
        left: 0;
    }

    100% {
        left: 70px;
    }
}

.users {
    padding: 15px;
    width: 40%;
}

.users ul {
    list-style: none;
    margin-top: 50px;
}

.users li {
    box-shadow: 1px 1px 5px 1px #0000008e;
    border-radius: 10px;
    width: fit-content;
    background: white;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 15px;
    border: 4px solid transparent;
}

li:hover {
    box-shadow: 1px 1px 2px 1px #0000008e;
}

.users li h5 {
    font-size: 20px;
    margin-bottom: 5px;
}

.posts {
    position: relative;
    background-color: #fff;
    padding: 20px;
    margin-left: 20px;
    border-radius: 20px;
    width: 100%;
    overflow: auto;
    transition: .3s;

}

.posts h1::before {
    animation: none;
    background-color: transparent;
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    z-index: 10;
    background-image: linear-gradient(to right, rgb(0, 255, 76) 50%, transparent, transparent);
}

.posts ul {
    list-style: none;
    margin-top: 50px;
}

.posts ul li {
    width: 100%;
    height: fit-content;
    box-shadow: 1px 1px 5px 1px #0000008e;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 15px;


}

.posts ul li h2 {

    font-size: 25px;

    margin-bottom: 10px;
}

.posts ul li p {
    margin-top: 10px;
    font-size: 20px;
}

.active {
    border: 4px solid #ff1e00 !important;
}